.box {
  pointer-events: none;
  width: 20%;
  position: relative;
  display: flex;
  margin-right: 1rem;
  
}
.box .group {
  width: 100%;
  height: 182px;
  top: 0;
  left: 0;
}
.box .overlap-group {
  position: relative;
  height: 182px;
}
.box .hole1 {
  top: 36.5px;
  width: 100%;
  position: absolute;
}
.box .moleImg {
  pointer-events: auto;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 0;
  object-fit: cover;
}
.box .rectangle {
  position: absolute;
  width:100%;
  height: 88px;
  top: 44%;
  left: 0;
  background-color: rgb(58, 227, 89);
}
/* #9c694d */
.box .hole2 {
  top:20%;
  position: absolute;
  width: 100%;
}
.ground2 {
    width: 450px;
    height: 400px;
    display: flex;
    border-radius: 10%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
  }