@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Comic Neue", cursive;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#cloud {
  height: 200px;
}

.home-container {
  background-color: #81caee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  -webkit-text-stroke: 2px rgba(3, 100, 122, 0.571);
  background-color: transparent;
}

.play {
  width: 150px;
  height: 60px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px rgba(4, 83, 133, 0.394);
  font-size: 35px;
  border-style: none;
  border-radius: 24px;
  background: #81caee;
  box-shadow: 11px 11px 25px #659eba, -11px -11px 25px #9df6ff;
  margin: 1rem;
}
.play:hover {
  background: rgb(105, 159, 182);
}

.ground {
  width: 100%;
  height: 100%;
  background: rgba(58, 227, 89, 0.801);
  display: flex;
}
.ground2 {
  width: 400px;
  height: 250px;
  background: #9c694d;
  display: flex;
  border-radius: 10%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.hole {
  position: relative;
  display: flex;
  width: 100px;
  height: 40px;
  background: #401212;
  border-radius: 50%;
  margin: 1rem;
  border-radius: 50%;
  background: #401212 ;
  box-shadow: inset 15px 10px 4px #5b1a1a,
              inset -19px -25px 7px #250a0a;
}

.content {
  display: flex;
  width: 100%;
  background-color: transparent;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.moleImg {
  width: 100%;
  background-color: transparent;
  display: none;
  position: absolute;
}

.head {
  width: 500px;
  display: flex;
  justify-content: center;
}

.scoreBoard{
 display: flex;
 justify-content: space-between;
 max-width: 400px;
 font-size: 20px;
}
.scoreBoard p{
  margin: 10px;
}

@media only screen and (max-width: 420px) {
  .ground2 {
    width:100%;
  }
  .hole {
    width:20%;
  }
  h1{
    font-size: 40px;
  }

}